<%- include ('../header/header.ejs', {styles: "/styles/style.css"}) -%>
<!-- header section -->
    <!-- section 1 --><%- include ('./components/header.ejs') -%>
    <!-- partners --><%- include ('./components/partners.ejs') -%>
    <!-- section 2 -->
    
    <!-- about us --><%- include ('./components/about.ejs') -%>

    <!-- section 3 -->
    <!-- services --><%- include ('./components/service.ejs') -%>

    <!-- section 4 -->
   <!-- testimonials --><%- include ('./components/testimonials.ejs') -%>

    <!-- section 4 -->
    <!-- blog/heakth news --><%- include ('./components/blog.ejs') -%>
</main>

<%- include ('../footer/footer.ejs', {src: "/scripts/index.js"}) -%>