<%- include ('../header/header.ejs', {styles: "/styles/about.css"}) -%>
<main>
    <%- include ('./components/header.ejs') -%>
    <%- include ('./components/values.ejs') -%>
    <%- include ('./components/team.ejs') -%>
    <%- include ('./components/connect.ejs') -%>
</main>
<%- include ('../footer/footer.ejs', {src: "/scripts/about.js"}) -%>