<%- include ('./components/dash-header.ejs', {styles: "/styles/dash.css"}) -%>
<main>
    <%- include ('./components/sidebar.ejs') -%>
<%- include ('./components/stats.ejs') -%>
<%- include ('./components/datatable.ejs') -%>
</main>
<%- include ('./components/footer.ejs') -%>